<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Groupon - 21st Century Youth Project - Hackathon</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Groupon + 21CYP">

    <!-- CSS -->
    <link href="../assets/css/bootstrap.css" rel="stylesheet">

    <style>
      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
    </style>
    <link href="../assets/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="../assets/css/hackathon.css" rel="stylesheet">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="../assets/js/html5shiv.js"></script>
    <![endif]-->

    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../assets/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../assets/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="../assets/ico/apple-touch-icon-57-precomposed.png">
    <link rel="shortcut icon" href="../assets/ico/favicon.png">

    <script src="../assets/js/jquery.js"></script>

  </head>

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="#" style="color: #82b548">Groupon Hackathon</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li class="active"><a href="#">Home</a></li>
              <li><a href="example.html">Example 1</a></li>
              <li><a href="example2.html">Example 2</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container">
      <h1>Welcome to the Groupon + 21CYP Hackathon</h1>
      <h2>Getting Started</h2>
      <h3>Choose an editor</h3>
      <p>Here are some of our favourites</p>
      <ul>
        <li>Whatever you like</li>
        <li> <a href="http://www.jetbrains.com/pycharm">Pycharm</a></li>
        <li> <a href="http://www.sublimetext.com/">Sublime Text</a></li>
        <li>Vim</li>
      </ul>
      <h3>Clone the project repository</h3>
      <p>Your Guide will help you with this. The project is in a public github repository located at: <a href="https://github.com/ahotz/hackathon">https://github.com/ahotz/hackathon</a></p>
      <code>git clone https://github.com/ahotz/hackathon.git</code>
      <h3> Repository Structure </h3>
      <table class="table">
      <tr><td>app/</td><td>The Root Directory</td></tr>
      <tr><td>app/assets</td><td>CSS, Javascript and other static (unchanging) assets</td></tr>
      <tr><td>app/data</td><td>Data objects used by the project</td></tr>
      <tr><td>app/models</td><td>Model Objects that represent elements of the System (Stations, Trips)</td></tr>
      <tr><td>app/views</td><td>Views - A view represents a window into the data</td></tr>
      <tr><td>app/test</td><td>Unit Tests - These test specific units of functionality such as loading files</td></tr>
      </table>
      <h3> Project Ideas </h3>
      <p>Need some ideas? Here are a few of our favorites: </p>
      <bl><li>Show the growth of the network over time </li>
      <li>Show congestion of the network at different time periods </li>
      <li>What are the most popular trips on the Divvy Network? What are the least popular trips</li>
      <li>Show a breakdown of trips by cost</li>
      <li><b>Surprise Us!</b></li>
      </bl>
      <h3>Schedule</h3>
      <table class="table table-striped">
      <tr><td>9.30</td><td>Getting Started</td></tr>
      <tr><td>10.00</td><td>Team and Idea Formation</td></tr>
      <tr><td>10.30</td><td>Hacking!</td></tr>
      <tr><td>4.30</td><td>Show and Tell</td></tr>
      </table>
    </div> <!-- /container -->
  </body>
</html>
